/******* /*starting with Mobile Media Query*/
@font-face {
  font-family: 'PT Sans', sans-serif;
}
.logo {
  float: left;
  padding: .5%;
  background-color: #F5005B;
}
.logo img {
  height: 6.8em;
}
header nav {
  width: 100vw;
}

nav a {
  display: flex;
  flex-direction: column;
}

header, footer {
    background-color: #7DDFE8;
    width: 100vw;
}

.home {
  background-color: #00A5BF;
}
.join {
  background-color: #00D5E7;
}
.calendar {
  background-color: #00B7D3;
}

.home, .join, .calendar {
  color: white;
  padding-top: 4%;
  text-align: center;
  /*background-color: #00A5BF;*/
  font-size: 1em;
  padding-left: 2%;
  padding-right: 2%;
  height: 1.5em;
  text-decoration: none;
}

body {
  font-family: 'PT Sans';
}

h1 {
  font-weight: lighter;
  font-size: 2.7em;
  margin-left: 3%;
  /*background-color: #0b1942;*/
}

.home-page-top {
  /*display: flex;*/
  justify-content: space-between;
  width: 300px;
  margin-left: 3%;
  margin-right: 3%;
}

h2 {
  /*font-size: 33px;*/
  font-size: 1.7em;
  font-weight: lighter;
  color: white;
  background-color: #0b1942;
  width: 300px;
  margin: auto;
  padding: 3%;
}

.Bottom-home {
  background-color: #0b1942;
  width: 100%;
}

.header-home-bottom {
  background-color: #0b1942;
  width: 100%;
  display: inline-block;
}

#up-next {
  color: white;
  font-size: 3em;
  padding: 1%;
  line-height: 5%;
  font-weight: lighter;
}

.bottom-left-home {
  width: 50%;
  padding: 3%;
}

.left-home{
  display: flex;
  background-color: #e2e2e2;
  width: 90%;
  padding: 2%;
  margin-left: 3%;
}

.left-home ul {
  text-align: right;
  width: 25%;
  list-style: circle;
}

.left-home img {
  width: 50%;
  height: 60%;
}

.words-left {
  padding-left: 5%;
}

h3 a{
  font-size: 1.2em;
  font-weight: lighter;
  color: #00B7D3;
  cursor: pointer;
}

h5 {
  font-weight: lighter;
  border-bottom: .05em solid black;
  text-align: left;
}

.top-row-home {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #e2e2e2;
}

.train img, .bicycle img {
  width: 80%;
  height: 70%;
  padding-top: 5%;
  padding-left: 8%;
}

 p {
  font-size: .9em;
  font-weight: lighter;
  margin-left: 5%;
}

.bottom-row-home {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #e2e2e2;
  margin-bottom: 5%;
  padding-bottom: 5%;
}


.Nosferatu img, .metropolis img {
  width: 80%;
  height: 70%;
  padding-left: 8%;
  margin-top: 20%;
}

.copyright {
  /*margin-left: 50%;*/
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  font-size: 1em;
  text-align: center;
  color: white;
}

/******* /*starting with Tablet Media Query*/
@media only screen and (min-width: 600px){

  nav{
    display: flex;
  }

  .logo img {
    height: 7em;
    width: 6em;
  }

  nav a {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 10%;
  }

  .home-page-top {
    display: flex;
    width: 80%;

  }
  h2 {
    width: 85%;
  }
  .watch_paragraph, .take-notes, .meetup {
    width: 35%;
  }
  .bottom-right {
    background-color: red;
  }
  .top-row-home, .bottom-row-home {
    display: flex;
    width: 48%;
  }
.bottom-row-home {
  margin-left: 375px;
  margin-top: -369px;
  /*height: 300px;*/
}
.top-row-home{
height: 365px;
}
}

@media only screen and (min-width: 900px){


  .home-page-top {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
  }

  h2 {
    /*font-size: 33px;*/
    font-size: 2em;
    font-weight: lighter;
    color: white;
    background-color: #0b1942;
    width: 300px;
    margin: auto;
    padding: 3%;
  }

  p {
    font-size: 125%;
    text-align: left;
    width: 300px;
  }

  .Bottom-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0b1942;
    width: 100%;
    /*margin-top: 2%;*/
  }

  .header-home-bottom {
    background-color: #0b1942;
    width: 100%;
    display: inline-block;
  }

  #up-next {
    color: white;
    font-size: 4em;
    padding: 1%;
    line-height: 5%;
    font-weight: lighter;
  }

  .bottom-left-home {
    width: 95%;
    padding: 3%;
  }

  .left-home{
    display: flex;
    background-color: #e2e2e2;
    width: 100%;
    padding: 2%;
    margin-left: 2%;
  }

  .left-home ul {
    text-align: right;
    width: 25%;
    list-style: circle;
  }

  .left-home img {
    width: 45%;
    height: 55%;
  }

  .words-left {
    padding-left: 2%;
    text-align: center;
  }

  h3 a{
    font-size: 190%;
    font-weight: lighter;
    color: #00B7D3;
    cursor: pointer;
  }

  h5 {
    margin-bottom: -2%;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: .05em solid black;
  }
  h6, li {
    font-size: 1.25em;
  }
  .top-row-home p {
    line-height: 1.25%;
  }
  .bold {
    font-size: 1.25em;
    font-weight: bold;
  }

  .top-row-home, .bottom-row-home {
  width: 95%;
  display: flex;
    background-color: #e2e2e2;
    padding: 3%;

  }

  .bottom-row-home {
    margin-bottom: 5%;
  }


}
